.last-viewed_title{
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  color: #000000;
  font-weight: bold;
  font-size: 38px;
  font-family: Montserrat Alternates, serif;
  font-style: normal;
}

.rec-carousel>button{
  width: 30px;
  min-width: 30px;
  height: 30px;
  color: black;
  line-height: 30px;
  background-color: white;
  box-shadow: none;
  }
.rec-carousel>button:focus:enabled{
  color: black;
  background-color: #fff852;
}

.rec-carousel>button:hover:enabled{
  color: black;
  background-color: #fff852;
}

.rec-pagination>.cJeRRR{
  background-color: #848484;
  box-shadow: 0 0 1px 3px black;
}

.rec-pagination>button{
  width: 20px;
  height: 5px;
  border-radius: 0;
}

.rec-pagination>.cJeRRR:hover{
  background-color: white;
  box-shadow: 0 0 1px 2px black;
}
.rec-pagination>.cJeRRR:focus{
  background-color: white;
  box-shadow: 0 0 1px 2px black;
}

.rec-pagination>.rec-dot_active, .cJeRRR{
  background-color: white;
  box-shadow: 0 0 1px 2px black;

}
.rec-pagination>.rec-dot:hover{
  background-color: #fff852;
  box-shadow: 0 0 1px 2px black;
}