@import '~antd/lib/style/themes/default.less';


.catalogue-wrapper {
  height: 24px;
  margin: 0 auto;
  z-index: 1;

  .ant-menu {
    background-color: #f5f5f5;
    width: 285px;

    & > ul {
      background-color: #f5f5f5;
    }

    &-submenu-title {
      color: black;

      &:hover {
        background-color: @yellow-5;
      }
    }

    &-submenu-open {
      background-color: #e2e2e2;

      & > .ant-menu-submenu-title {
        font-weight: bold
      }
    }
  }

  .catalogue-menu-item {
    &:hover {
      background-color: @yellow-5;
    }

    & > a:hover {
      color: black;
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #f0f0f0;

    & > a {
      color: black;
      font-weight: bold;
    }
  }

  .ant-menu-item::after {
    border-right: 0 solid @yellow-5;
  }

  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    width: 8px;
    height: 2.5px;
    background-color: black;
  }
}

.catalogue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24px;
  color: @white;
  font-size: 14px;
  cursor: pointer;
  background: @black;
  border: none;

  &-img {
    margin-right: 10px;
    padding: 2px;
    background: white;
    border-radius: 12px;
    height: 18px;
  }

  &-text {
    color: #FFFFFF;
  }
}

@media screen and (min-width: 576px) {
  .catalogue-btn {
    height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .catalogue-btn {
    height: 30px;
    font-size: 16px;

    &-img {
      padding: 3px;
      height: 21px;
    }
  }
}

@media screen and (min-width: 992px) {
  .catalogue-btn {
    height: 32px;
    font-size: 18px;

    &-img {
      height: 25px;
    }
  }
}

@media screen and (min-width: 1200px) {

  .catalogue-btn {
    height: 34px;
    font-size: 20px;
  }

  //
  //.catalogue-menu {
  //  width: 45vw;
  //}
  //
  //.catalogue-item.ant-menu-submenu {
  //  font-size: 15px;
  //}
  //
  //.catalogue-menu-item.ant-menu-item {
  //  font-size: 14px;
  //}
}

//
//@media screen and (max-width: 767px) and (min-width: 576px) {
//  .catalogue-btn {
//    width: 100%;
//    height: 38px;
//    font-size: 18px;
//    margin: 0 auto
//  }
//
//  .catalogue-menu {
//    width: 85vw;
//    margin-left: 6.7vw;
//  }
//
//  .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
//    width: 6px;
//    height: 1.5px;
//  }
//}
//
//@media screen and (max-width: 575px) {
//  .ant-menu {
//    background-color: transparent;
//  }
//
//  .catalogue-btn {
//    width: 100%;
//    height: 35px;
//    margin: 0 auto;
//  }
//
//  .catalogue-btn-text {
//    font-size: 18px;
//    margin-left: 5px;
//  }
//
//  .catalogue-btn-img {
//    margin-right: 0;
//  }
//
//  .catalogue-menu {
//    width: 94vw;
//    margin-left: 1vw;
//  }
//
//  .ant-menu-inline {
//    background-color: #fff852;
//
//  }
//
//  ul .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
//    width: 6px;
//    height: 1.5px;
//  }
//}
