@import '~antd/lib/style/themes/default.less';

.footer-socials_subscribePanel {

  & .ant-input-search-button span {
    width: 60px;
  }

  & .spin {
    position: relative;
    top: -2px;
    transform: scale(.7);

    & .ant-spin-text {
      display: none;
    }
  }

  .ant-input-affix-wrapper:hover, .ant-input-affix-wrapper:focus {
    border: 1px solid @yellow-5;
  }

}