.breadcrumbs {
  padding: 15px 0 15px 8%;
  background: lightgrey;

  & .homepage-img {
    font-size: 18px;
  }

  & > span > a:hover {
    color: #fadb14;
    text-shadow: 1px 1px 1px #000;
  }
}

.breadcrumb-item {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto;
}

@media screen and (max-width: 1163px) {
  .breadcrumbs {
    padding-left: 6%;
  }
}

@media screen and (max-width: 988px) {
  .breadcrumbs {
    & .homepage-img {
      font-size: 14px;
    }
  }

  .breadcrumb-item {
    font-size: 14px;
  }
}
