.cart-page-wrapper {
  margin: 5px 20px 40px;
  > div {
    max-width: 1500px;
    margin: 0 auto;
  }
  .cart-container {
    display: flex;
    justify-content: space-between;
    .cart-container-wrapper {
      max-width: 1200px;
    }
  }
}
@media (max-width: 1200px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    .cart-container-wrapper {
      margin-right: 0;
    }
  }
}
@media (max-width: 500px) {
  .cart-page-wrapper {
    margin: 5px 0 40px;
  }
}


