@import '~antd/lib/style/themes/default.less';

.staticPage {
  &-container {
    padding: 25px;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    text-indent: 25px;

    & h1 {
      font-size: 18px;
    }

    & h2 {
      font-size: 16px;
    }

    & h3 {
      font-size: 14px;
    }

    & h4 {
      font-size: 14px;
    }

    & p {
      margin-bottom: 10px;
    }

    .ant-image-img {
      width: 150px;
      margin-left: 20px;
    }

    & li {
      margin-left: 30px;
      text-indent: 15px;
    }
  }
}

.aboutUs {
  &-link {
    color: @yellow-6;
    text-shadow: 1px 1px 2px @black;

    &:hover {
      color: @black;
    }
  }
}

.contacts {

  &-map {
    display: none;
  }
}

.privacy {
  &-container {
    padding: 15px;
  }
}

.items {
  &-detailsSymbol {
    color: @red-5;
  }
}


@media screen and (min-width: 576px) {

  .staticPage {
    &-container {
      & li {
        margin-left: 60px;
        text-indent: 25px;
      }
    }
  }

  .contacts {
    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-map {
      display: block;
      width: 480px;
      height: 360px;
      padding: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts-container {
    div:first-of-type {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 992px) {
  .staticPage {
    &-container {
      font-size: 14px;
    }
  }

  .contacts-container {
    div:first-of-type {
      margin-right: 60px;
    }
  }
}

@media screen and  (min-width: 1200px) {
  .staticPage {
    &-container {
      & h1 {
        font-size: 20px;
      }

      & h2 {
        font-size: 18px;
      }

      & h3 {
        font-size: 16px;
      }
    }
  }

  .contacts {
    &-map {
      width: 600px;
      height: 450px;
    }
  }
}
