.error-registration_wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;

  .error-registration_button {
    margin-top: 10px;
  }

  .error-registration_button {
    color: red;
  }
}

.Toastify__toast--default {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 20px;
  background-color: #e84c3d;
  border-radius: 0;

  > button {
    position: absolute;
    right: 10px;
  }

  .Toastify__progress-bar--default {
    background: transparent;
  }

  .Toastify__close-button .Toastify__close-button--default {
    background: transparent;
  }
}

.success-register-toast {
  color: darkgreen;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #EFE95E;
  border: 1px black solid;
}

.absent-today-toast {
  color: black;
  background-color: #EFE95E;
}
